:root{
    margin: 0;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(4,8,67,1) 0%, rgba(9,9,121,1) 0%, rgba(203,87,243,1) 0%, rgba(2,174,230,1) 88%, rgba(0,212,255,1) 100%);



}